@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>About us</h1>
    <h4>WeShare is a food sharing service. If you have some excess food, don't hesitate to share it with other people.</h4>
    <h4>
        We believe in A world where food is valued and is used to nourish people and bring them together.
    </h4>
    <h4>
        A world where foodsharing is part of our natural behaviour. Locally and globally.
    </h4>
    
    <h4>
        Do you want to be the part of our community? Sign up right now!
    </h4>
    <h4 class="bigSpace">
        We are willing to provide everyone tools and power to act, care and share food, without any compromise.
    </h4> 
    <h4>
        To achive our goal we want to provide those services as a web app WeShare.
    </h4>
    <h4>
        Now you have the power and opportunity to contibute to making world a better place!
    </h4>
    
</div>

